.button {
    -fx-opacity: 1;
}

.button:hover {
    -fx-opacity: 0.5;
}

#AnchorPane {
    -fx-background-image: url("./images/localGame_background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

#defaultMapBtn {
    -fx-background-image: url("./images/btn_image.png");
    -fx-background-size: cover, auto;
}

#randomMapBtn {
     -fx-background-image: url("./images/btn_image.png");
     -fx-background-size: cover, auto;
 }



#WITCHES {
     -fx-opacity: 1;
 }

#WITCHES:hover {
    -fx-opacity: 0.5;
}

#AUREN {
    -fx-opacity: 1;
}

#AUREN:hover {
    -fx-opacity: 0.5;
}

#DARKLINGS {
    -fx-opacity: 1;
}

#DARKLINGS:hover {
    -fx-opacity: 0.5;
}

#ALCHEMISTS {
    -fx-opacity: 1;
}

#ALCHEMISTS:hover {
    -fx-opacity: 0.5;
}

#GIANTS {
    -fx-opacity: 1;
}

#GIANTS:hover {
    -fx-opacity: 0.5;
}

#CHAOS_MAGICIANS {
    -fx-opacity: 1;
}

#CHAOS_MAGICIANS:hover {
    -fx-opacity: 0.5;
}

#ENGINEERS {
    -fx-opacity: 1;
}

#ENGINEERS:hover {
    -fx-opacity: 0.5;
}

#HALFLINGS {
    -fx-opacity: 1;
}

#HALFLINGS:hover {
    -fx-opacity: 0.5;
}

#DWARVES {
    -fx-opacity: 1;
}

#DWARVES:hover {
    -fx-opacity: 0.5;
}

#CULTISTS {
    -fx-opacity: 1;
}

#CULTISTS:hover {
    -fx-opacity: 0.5;
}

#MERMAIDS {
    -fx-opacity: 1;
}

#MERMAIDS:hover {
    -fx-opacity: 0.5;
}

#SWARMLINGS {
    -fx-opacity: 1;
}

#SWARMLINGS:hover {
    -fx-opacity: 0.5;
}

#FAKIRS {
    -fx-opacity: 1;
}

#FAKIRS:hover {
    -fx-opacity: 0.5;
}

#NOMADS {
    -fx-opacity: 1;
}

#NOMADS:hover {
    -fx-opacity: 0.5;
}