#AnchorPane {
    -fx-background-image: url("./images/localGame_background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

#defaultMapBtn {
    -fx-background-image: url("./images/btn_image.png");
    -fx-background-size: cover, auto;
}

#randomMapBtn {
    -fx-background-image: url("./images/btn_image.png");
    -fx-background-size: cover, auto;
}

