#AnchorPaneTerraforming {
    -fx-background-image: url("./images/terraforming_popup_background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}


#plains {
    -fx-background-color: #c85e11;
}

#lakes {
    -fx-background-color: #3e625a;
}

#forest {
    -fx-background-color: #1bbc0e;
}

#mountains {
    -fx-background-color: #959799;
}

#wasteland {
    -fx-background-color: #883b36;
}

#desert {
    -fx-background-color: #fff94f;
}

#swamp {
    -fx-background-color: #10350e;
}

#noChangeBtn {
    -fx-background-image: url("./images/btn_image.png");
    -fx-background-size: cover, auto;
}